@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margins and ensure full viewport */
html, body {
  margin: .5ch;
  padding: .5ch;
  width: 97%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}